@page "/companies/create"

@inject HttpClient Http
@inject NavigationManager Navigation
@attribute [Authorize]


<EditForm Model="Company" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group float-left m-2">
        <label class="control-label m-0">Name</label>
        <InputText @bind-Value="Company.Name"></InputText>
        <ValidationMessage For="@(() => Company.Name)" />
    </div>

    <button type="submit" class="btn btn-sm btn-outline-light m-2">Submit</button>
</EditForm>




@code {
    private Company Company { get; set; } = new Company();
    private string name;

    [Parameter]
    public EventCallback<Guid> OnCreateCreated { get; set; }


    private async void HandleValidSubmit()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("/api/Companies", Company);
            response.EnsureSuccessStatusCode();

            //var content = await response.Content.ReadAsStringAsync();
            //var company = JsonConvert.DeserializeObject<Company>(content);
            //Navigation.NavigateTo($"companies/edit/{company.Id}";

            await OnCreateCreated.InvokeAsync(Company.Id);
        }
        catch (Exception e)
        {
        }

    }

}

